.login-container{
    width: 400px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid lightpink;
    border-radius: 8px;
    justify-content: center;

}
.login-title{
    font-size: 35px;
    text-align: center;
}
.input-group label{
    display: block;
    margin-left: 20px;   
}
.input-group input{
    height: 40px;
    width: 250px;
    display: block;
    margin-left: 20px; 
}
.login-btn{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;  
}